# Atividade Prática 07

Isabella Menezes Ramos 3474

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [4]:
dataset = [['Leite','Cebola','Nutela','Feijão','Ovo','Iogurte'],
['Arroz','Cebola','Nutela','Feijão','Ovo','Iogurte'],
['Leite','Maça','Feijão','Ovo'],
['Leite','Chocolate','Pipoca','Feijão','Iogurte'],
['Pipoca','Cebola','Feijão','Sorvete','Ovo']]

In [5]:
# Converte para o formato do Apriori, usando o TransactionEncoder

transactions_oht = TransactionEncoder()
transactions = transactions_oht.fit(dataset).transform(dataset)
dataframe = pd.DataFrame(transactions, columns=transactions_oht.columns_)
dataframe

,Arroz,Cebola,Chocolate,Feijão,Iogurte,Leite,Maça,Nutela,Ovo,Pipoca,Sorvete
0,False,True,False,True,True,True,False,True,True,False,False
1,True,True,False,True,True,False,False,True,True,False,False
2,False,False,False,True,False,True,True,False,True,False,False
3,False,False,True,True,True,True,False,False,False,True,False
4,False,True,False,True,False,False,False,False,True,True,True

In [6]:
# Calcula os conjuntos de itens frequentes, com suporte mínimo de 0.6

frequent_itemsets = apriori(dataframe, min_support=0.6, use_colnames=True)
frequent_itemsets.sort_values(by="support", ascending=False)

    support               itemsets
1       1.0               (Feijão)
4       0.8                  (Ovo)
9       0.8          (Feijão, Ovo)
0       0.6               (Cebola)
2       0.6              (Iogurte)
3       0.6                (Leite)
5       0.6       (Cebola, Feijão)
6       0.6          (Cebola, Ovo)
7       0.6      (Feijão, Iogurte)
8       0.6        (Feijão, Leite)
10      0.6  (Cebola, Feijão, Ovo)

In [9]:
# Filtro por 'confidence', pode ser feito por outros campos também
regras = association_rules(frequent_itemsets,metric="confidence", min_threshold=0.1)
regras

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Cebola),(Feijão),0.6,1.0,0.6,1.00,1.00,0.00,inf
1,(Feijão),(Cebola),1.0,0.6,0.6,0.60,1.00,0.00,1.0
2,(Cebola),(Ovo),0.6,0.8,0.6,1.00,1.25,0.12,inf
3,(Ovo),(Cebola),0.8,0.6,0.6,0.75,1.25,0.12,1.6
4,(Feijão),(Iogurte),1.0,0.6,0.6,0.60,1.00,0.00,1.0
5,(Iogurte),(Feijão),0.6,1.0,0.6,1.00,1.00,0.00,inf
6,(Feijão),(Leite),1.0,0.6,0.6,0.60,1.00,0.00,1.0
7,(Leite),(Feijão),0.6,1.0,0.6,1.00,1.00,0.00,inf
8,(Feijão),(Ovo),1.0,0.8,0.8,0.80,1.00,0.00,1.0
9,(Ovo),(Feijão),0.8,1.0,0.8,1.00,1.00,0.00,inf
10,"(Cebola, Feijão)",(Ovo),0.6,0.8,0.6,1.00,1.25,0.12,inf
11,"(Cebola, Ovo)",(Feijão),0.6,1.0,0.6,1.00,1.00,0.00,inf
12,"(Feijão, Ovo)",(Cebola),0.8,0.6,0.6,0.75,1.25,0.12,1.6
13,(Cebola),"(Feijão, Ovo)",0.6,0.8,0.6,1.00,1.25,0.12,inf
14,(Feijão),"(Cebola, Ovo)",1.0,0.6,0.6,0.60,1.00,0.00,1.0
15,(Ovo),"(Cebola, Feijão)",0.8,0.6,0.6,0.75,1.25,0.12,1.6

In [10]:
regras[regras['confidence'] > 0.75]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Cebola),(Feijão),0.6,1.0,0.6,1.0,1.00,0.00,inf
2,(Cebola),(Ovo),0.6,0.8,0.6,1.0,1.25,0.12,inf
5,(Iogurte),(Feijão),0.6,1.0,0.6,1.0,1.00,0.00,inf
7,(Leite),(Feijão),0.6,1.0,0.6,1.0,1.00,0.00,inf
8,(Feijão),(Ovo),1.0,0.8,0.8,0.8,1.00,0.00,1.0
9,(Ovo),(Feijão),0.8,1.0,0.8,1.0,1.00,0.00,inf
10,"(Cebola, Feijão)",(Ovo),0.6,0.8,0.6,1.0,1.25,0.12,inf
11,"(Cebola, Ovo)",(Feijão),0.6,1.0,0.6,1.0,1.00,0.00,inf
13,(Cebola),"(Feijão, Ovo)",0.6,0.8,0.6,1.0,1.25,0.12,inf

In [40]:
df = pd.read_excel('http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx',index_col=False, squeeze=True)

In [41]:
df['Description'] = df['Description'].str.strip()
df.dropna(axis = 0, subset=['InvoiceNo'], inplace=True)
df['InvoiceNo'] = df['InvoiceNo'].astype('str')
df = df[df.Quantity > 0]
df = df[~df['InvoiceNo'].str.contains('C')]

In [69]:
franca = df[df['Country'] == 'France']
df_grouped = franca.groupby(['InvoiceNo', 'Description'])['Quantity'].sum()
cesta_franca = df_grouped.unstack(fill_value=0)
cesta_franca = cesta_franca.reset_index().set_index('InvoiceNo')

In [70]:
def encode_units(x):
    if x <=0:
        return 0
    if x >= 1:
        return 1
cesta_franca = cesta_franca.applymap(encode_units)
cesta_franca.drop('POSTAGE', inplace=True, axis=1)

# Atividade

## a) Qual a regra com maior suporte?

In [71]:
frequent_itemsets = apriori(cesta_franca, min_support=0.03, use_colnames=True)
support = association_rules(frequent_itemsets, metric="support", min_threshold=0.05)
support.sort_values(by='support').tail(2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
67,(SET/6 RED SPOTTY PAPER PLATES),(SET/6 RED SPOTTY PAPER CUPS),0.127551,0.137755,0.122449,0.960000,6.968889,0.104878,21.556122
66,(SET/6 RED SPOTTY PAPER CUPS),(SET/6 RED SPOTTY PAPER PLATES),0.137755,0.127551,0.122449,0.888889,6.968889,0.104878,7.852041

## b) Qual a regra com maior confiança?

In [72]:
confidence = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.05)
confidence.sort_values(by='confidence').tail(2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
861,"(SET OF 9 BLACK SKULL BALLOONS, SET/6 RED SPOT...",(SET/6 RED SPOTTY PAPER CUPS),0.035714,0.137755,0.035714,1.0,7.259259,0.030794,inf
892,"(MINI PAINT SET VINTAGE, SET/20 RED RETROSPOT ...","(SET/6 RED SPOTTY PAPER CUPS, SET/6 RED SPOTTY...",0.035714,0.122449,0.035714,1.0,8.166667,0.031341,inf

## c) Qual a regra com maior lift?

In [73]:
lift = association_rules(frequent_itemsets, metric="lift", min_threshold=25)
lift.sort_values(by='lift').tail(2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(PACK OF 6 SKULL PAPER PLATES, SET/20 RED RETR...","(PACK OF 20 SKULL PAPER NAPKINS, SET/6 RED SPO...",0.033163,0.035714,0.030612,0.923077,25.846154,0.029428,12.535714
1,"(PACK OF 20 SKULL PAPER NAPKINS, SET/6 RED SPO...","(PACK OF 6 SKULL PAPER PLATES, SET/20 RED RETR...",0.035714,0.033163,0.030612,0.857143,25.846154,0.029428,6.767857

## d) Quantas regras possuem suporte maior ou igual a 0.02 e confiança maior ou igual a 0.8?

In [74]:
support = association_rules(frequent_itemsets, metric="support", min_threshold=0.02)
len(support[support['confidence'] >= 0.8])

238

## e) Quantas regras possuem lift maior ou igual a 4 e confiança maior ou igual a 0.8?

In [75]:
len(support[(support['lift'] >= 4) & (support['confidence'] >= 0.8)])

238

## f) Quais produtos você recomendaria colocar próximos se você fosse organizar um supermercado físico?

Em relação ao suporte e confiança alta, eu colocaria (SET/6 RED SPOTTY PAPER CUPS) e (SET/6 RED SPOTTY PAPER PLATES) próximos.

E em relação ao lift, colocaria (CHILDRENS CUTLERY SPACEBOY) e (CHILDRENS CUTLERY DOLLY GIRL) próximos.

## 5.Faça o mesmo procedimento para a Alemanha (Country=’Germany’).Existe alguma similaridade nas principais regras?Quais produtos você recomendaria colocar próximos se você fosse organizar as prateleiras de um supermercado físico?

In [76]:
alemanha= df[df['Country'] == 'Germany']
df_grouped = alemanha.groupby(['InvoiceNo', 'Description'])['Quantity'].sum()
cesta_alemanha = df_grouped.unstack(fill_value=0)
cesta_alemanha = cesta_alemanha.reset_index().set_index('InvoiceNo')

def encode_units(x):
    if x <=0:
        return 0
    if x >= 1:
        return 1
cesta_alemanha = cesta_alemanha.applymap(encode_units)
cesta_alemanha.drop('POSTAGE', inplace=True, axis=1)
cesta_alemanha.head()

Description,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 IVORY ROSE PEG PLACE SETTINGS,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS SMALL TUBE SKULL,12 PENCILS TALL TUBE POSY,12 PENCILS TALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE SKULLS,...,YULETIDE IMAGES GIFT WRAP SET,ZINC HEART T-LIGHT HOLDER,ZINC STAR T-LIGHT HOLDER,ZINC BOX SIGN HOME,ZINC FOLKART SLEIGH BELLS,ZINC HEART LATTICE T-LIGHT HOLDER,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL,ZINC WILLIE WINKIE CANDLE STICK
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536527,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536840,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536861,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536967,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536983,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
frequent_itemsets = apriori(cesta_alemanha, min_support=0.03, use_colnames=True)
support = association_rules(frequent_itemsets, metric="support", min_threshold=0.05)
support.sort_values(by='support').tail(2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
12,(ROUND SNACK BOXES SET OF 4 FRUITS),(ROUND SNACK BOXES SET OF4 WOODLAND),0.157549,0.245077,0.131291,0.833333,3.400298,0.092679,4.529540
13,(ROUND SNACK BOXES SET OF4 WOODLAND),(ROUND SNACK BOXES SET OF 4 FRUITS),0.245077,0.157549,0.131291,0.535714,3.400298,0.092679,1.814509

In [81]:
confidence = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.8)
confidence.sort_values(by='confidence').tail(1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
14,"(RED RETROSPOT CHARLOTTE BAG, ROUND SNACK BOXE...",(WOODLAND CHARLOTTE BAG),0.030635,0.126915,0.030635,1.0,7.87931,0.026747,inf

In [80]:
lift = association_rules(frequent_itemsets, metric="lift", min_threshold=20)
lift.sort_values(by='lift').tail(2)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(SPACEBOY CHILDRENS CUP),(SPACEBOY CHILDRENS BOWL),0.043764,0.041575,0.037199,0.850000,20.444737,0.03538,6.389497
1,(SPACEBOY CHILDRENS BOWL),(SPACEBOY CHILDRENS CUP),0.041575,0.043764,0.037199,0.894737,20.444737,0.03538,9.084245